
body {
	background: #f1f1f1;
}

/* Links */
a {
	color: #0073aa;
}
a:hover, a:active, a:focus {
	color: #0096dd;
}



* {
	box-sizing: border-box;
	margin: 0;

	padding-left: 3rem;
}

h1  {
	margin: 3rem 0;

}

P {
	font-size: 1.5rem;
}

#total-sold {
	color: #196b19;
}

#original-stock {
	color: #2f2fda;
}

#stock-left {
	color: #641717;
}




.logo {
	display: flex;
	align-self: start ;

	--gap: 2rem;
}
