
* {
	box-sizing: border-box;
	margin: 0;

	padding-left: 3rem;
}

h1  {
	margin: 3rem 0;

}

P {
	font-size: 1.5rem;
}

#total-sold {
	color: #196b19;
}

#original-stock {
	color: #2f2fda;
}

#stock-left {
	color: #641717;
}




.about__container {
	/* Section backgrounds */
	--background: #1d35b4;
	--subtle-background: #eff2ff;

	/* Main text color */
	--text: #000;
	--text-light: #fff;

	/* Accent colors: used in header, on special classes. */
	--accent-1: #1d35b4; /* Link color, credit image overlay */
	--accent-2: #33f078; /* Accent background */

	/* Navigation colors. */
	--nav-background: #fff;
	--nav-border: transparent;
	--nav-color: var(--text);
	--nav-current: var(--accent-1);

	--gap: 2rem;
}
